<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gmail.smithsoniandsp.video.previews" android:versionName="1.4.3" android:installLocation="auto" android:versionCode="20170324">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Video Preview for YouTube" android:theme="@android:style/Theme.Translucent" android:excludeFromRecents="true" android:icon="@drawable/Icon">
		<activity android:name="MainActivity" android:excludeFromRecents="true" android:autoRemoveFromRecents="true" android:configChanges="orientation|screenSize" android:theme="@style/TranslucentActivity"></activity>
	</application>
</manifest>